body {
    background-color: #0e141b;
}

header {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 4px;
}

#NomeHeader {
    font-weight: bold;
    font-size: 21px; 
    color: white;  
}

#svgHeader {
    height: 21px;
    width: 21px;
    color: #1da1f2;
}

#imgHeader {
    border-radius: 40px;
}

#themes {
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
}