body{
    background-color: #0e141b;
    margin: 0;
}

a, h3 {
    color: white;
    text-decoration: none;
}

main {
    padding: 15px;
}

@media screen and (min-width: 1145px) {
    main{
        padding: 50px 170px 0 170px;
    }
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 4px;
}

@media screen and (min-width: 1145px) {
    .header {
        padding: 50px 170px 0  170px;
    }
    
}


.header:hover #NomeHeader {
    color: #ff5277;
}

#NomeHeader {
    font-weight: bold;
    font-size: 21px; 
    color: white;  
}

#svgHeader {
    height: 21px;
    width: 21px;
    color: #1da1f2;
}

#imgHeader {
    border-radius: 40px;
}

.themes {
    background-color: #252526;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.themes:hover {
    background-color: #1e1e1f;
}

@media screen and (min-width: 980px) {
    #linhaThmes {
        display: none;
    }
}

#menuHeader {
    display: flex;
    gap: 20px;
    padding: 0 35px 0 0;
    font-weight: bold;
    font-size: 21px;
}

@media screen and (max-width: 980px) {
    #menuHeader {
        display: none;
    }
}

#nomeHome {
    padding-bottom: 5px;
    border-bottom: solid 4px #ff5277;
}

.nomeHeaderMenu:hover {
    padding-bottom: 5px;
    border-bottom: solid 4px #393a3a;
}

#textHello {
    color: #ff5277;
    font-family: Verdana;
    font-weight: bold;
}

#textHello:hover {
    color: #fb1d4d;
}