@tailwind base;
@tailwind components;
@tailwind utilities;


#color{
  margin: 0;
}

a, p, h3, h1 {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

@media screen and (min-width: 670px) {
  main{
      padding: 60px 60px 0 60px;
  }
}

@media screen and (min-width: 1145px) {
  main{
      padding: 100px 110px 0 110px;
  }
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #252526;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 4px;
}

@media screen and (min-width: 670px) {
  .header{
      padding: 35px 60px 0 60px;
  }
}

@media screen and (min-width: 1145px) {
  .header {
      padding: 50px 100px 0  100px;
  }
  
}

footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #252526;
}

@media screen and (min-width: 670px) {
  footer {
    padding: 20px 60px 20px 60px;
  }
}

@media screen and (min-width: 1145px) {
  footer {
    padding: 20px 110px 20px 110px;
  }
}

.header:hover #NomeHeader {
  color: #ff5277;
}

#NomeHeader {
  font-weight: bold;
  font-size: 21px; 
  color: white;  
}

#svgHeader {
  height: 21px;
  width: 21px;
  color: #1da1f2;
}

#imgHeader {
  border-radius: 40px;
}

.themes {
  background-color: #252526;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.themes:hover {
  background-color: #1e1e1f;
}

@media screen and (min-width: 980px) {
  #linhaThemes {
      display: none;
  }
}

#menuHeader {
  display: flex;
  gap: 20px;
  padding: 0 35px 0 0;
  font-weight: bold;
  font-size: 21px;
}

@media screen and (max-width: 980px) {
  #menuHeader {
      display: none;
  }
}

#nomeHome {
  padding-bottom: 5px;
  border-bottom: solid 4px #ff5277;
}

.nomeHeaderMenu:hover {
  padding-bottom: 5px;
  border-bottom: solid 4px #393a3a;
}

.menuMobile{
  background-color: #0e141b;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  width: 0;
  overflow: hidden;
  transition: .3s;
}

.menuMobile.abrirMenu{
  width: 70%;
}

.menuMobile.abrirMenu ~ .overlayMenu{
  display: block;
}

.botaoFechar {
  color: #fb1d4d;
  padding: 20px 4%;
}

#botaoFechar:hover{
  background-color: #fb1d4d;
  color: white;
}

.menuMobile nav ul {
  text-align: right;
}

.liMobile{
  font-weight: bold;
  font-size: 21px;
  padding: 20px 8%;
  display: block;
}

.liMobile:hover{
  background-color: #fb1d4d;
  color: #0e141b;
}

.overlayMenu {
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888888;
  display: none;
}

#textHello {
  color: #ff5277;
  font-family: Verdana;
  font-weight: bold;
}

#textHello:hover {
  color: #fb1d4d;
}

#FacoSites {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
}

@media screen and (min-width: 670px) {
  #FacoSites {
      font-size: 80px;
  }
}

#TextMain{
  font-family: 'Cascadia code light';
  font-size: 25px;
}

.digitalcollege{
  border-bottom: solid 4px #393a3a;
}

.digitalcollege:hover{
  color: #fb1d4d;
  border-bottom: solid 4px #fb1d4d;
}

#iconeFooter {
  display: flex;
  gap: 5px;
}